* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f6f7f3;
}

h2 {
  text-align: center;
  padding-top: 7rem;
  font-weight: 700;
  font-size: 900%;
  color: #393b63;
}

h2:after {
  display: block;
  height: 0.6rem;
  background-color: #f4bb8a;
  content: " ";
  width: 20rem;
  margin: 0 auto;
  margin-top: 1rem;
}

h3 {
  color: #0f0d35;
  text-decoration: underline;
  font-size: 375%;
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.main-header {
  background: #393b63;
  width: 100%;
  margin: 0 0 0 auto;
}

.nav-mobile {
  display: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 8vh;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  padding: 0% 3%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  font-size: 2.2rem;
}

nav .button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #0f0d35;
  color: #f6f7f3;
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

@media (hover: hover) and (pointer: fine) {
  nav .button:hover {
    background: #f6f7f3;
    color: #0f0d35;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
}

.intro {
  min-height: 92vh;
  padding: 0% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #393b63;
}

.intro-text {
  font-size: 4.5rem;
  color: #f6f7f3;
  margin: 12rem 0rem 3rem 0rem;
  -webkit-box-flex: 2;
      -ms-flex: 2 2 5rem;
          flex: 2 2 5rem;
}

.intro-button {
  padding-top: 8rem;
}

.intro-button a {
  background: #f4bb8a;
  padding: 2rem 5rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #0f0d35;
  font-size: 2.5rem;
  font-weight: 700;
}

@media (hover: hover) and (pointer: fine) {
  .intro-button a:hover {
    background: #cf9059;
    color: #f6f7f3;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
}

.intro-image {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  margin-bottom: 1rem;
}

.intro img {
  border: 20px solid #0f0d35;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

/* Media Queries */
@media only screen and (max-width: 1366px) and (orientation: landscape) {
  h2 {
    font-size: 8rem;
  }
  nav .logo {
    margin-top: 1.5rem;
  }
  .intro-text {
    font-size: 3.4rem;
  }
  .intro-button {
    padding-top: 5rem;
  }
  .intro-button a {
    padding: 1rem 3rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 7rem;
  }
  nav .logo {
    padding-top: 1rem;
  }
  nav ul {
    font-size: 1.5rem;
  }
  .intro-text {
    font-size: 3.5rem;
    margin-top: 6rem;
    margin-bottom: 0;
  }
  .intro-button {
    padding-top: 5rem;
  }
  .intro-button a {
    padding: 2rem 4rem;
    font-size: 1.8rem;
  }
  .intro-image {
    text-align: center;
  }
  .intro img {
    width: 95%;
    border: 20px solid #0f0d35;
  }
}

@media only screen and (max-width: 926px) and (orientation: landscape) {
  h2 {
    font-size: 500%;
  }
  .intro-text {
    font-size: 3rem;
  }
  .intro-button a {
    padding: 1rem 3rem;
  }
  .intro img {
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  nav .logo {
    padding-top: 1rem;
  }
  nav ul {
    display: none;
  }
  .nav-mobile {
    display: contents;
  }
  .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #fff;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    -webkit-transition: all 0.375s;
    transition: all 0.375s;
  }
  .main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
  }
  /* Yellow band effect */
  .main-nav::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    background: #0f0d35;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    transform: skew(-15deg) translateX(-120%);
    -webkit-transition: all 0.275s 0.1s;
    transition: all 0.275s 0.1s;
    -webkit-transform: skew(-15deg) translateX(-120%);
    -moz-transform: skew(-15deg) translateX(-120%);
    -ms-transform: skew(-15deg) translateX(-120%);
    -o-transform: skew(-15deg) translateX(-120%);
  }
  .main-nav.is-open::before {
    -webkit-transform: skew(-14deg) translateX(0);
            transform: skew(-14deg) translateX(0);
  }
  /* Skewing effect on menu links */
  .main-nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 55%;
    /* Should be 100%, but we have a notice message :D */
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 18rem;
    -webkit-transform: translateX(-18%) skew(-16deg);
            transform: translateX(-18%) skew(-16deg);
  }
  .main-nav li {
    display: block;
    margin: 3rem 10rem;
    text-align: left;
    -webkit-transform: skew(16deg);
            transform: skew(16deg);
    background: none;
  }
  /* Apparition effect on links */
  .main-nav a {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .main-nav.is-open a {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .main-nav li:nth-child(1) a {
    -webkit-transition: all 275ms 175ms;
    transition: all 275ms 175ms;
  }
  .main-nav li:nth-child(2) a {
    -webkit-transition: all 275ms 225ms;
    transition: all 275ms 225ms;
  }
  .main-nav li:nth-child(3) a {
    -webkit-transition: all 275ms 275ms;
    transition: all 275ms 275ms;
  }
  .main-nav li:nth-child(4) a {
    -webkit-transition: all 275ms 325ms;
    transition: all 275ms 325ms;
  }
  .main-nav li:nth-child(5) a {
    -webkit-transition: all 275ms 375ms;
    transition: all 275ms 375ms;
  }
  /* Decoration */
  .main-nav ul,
  .main-nav li {
    list-style: none;
    padding: 0;
  }
  .main-nav a {
    display: block;
    padding: 12px 0;
    color: #f4bb8a;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
  }
  /* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
  .open-main-nav {
    position: absolute;
    top: 15px;
    padding-top: 30px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
  }
  .open-main-nav:focus {
    outline: none;
  }
  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 4.3px;
    margin: 0 auto;
    background: #f4bb8a;
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
    -webkit-transition: all 0.275s;
    transition: all 0.275s;
  }
  .burger:after,
  .burger:before {
    content: "";
    display: block;
    height: 100%;
    background: #f4bb8a;
    -webkit-transition: all 0.275s;
    transition: all 0.275s;
  }
  .burger:after {
    -webkit-transform: translateY(-12px) translateX(-2px) skew(-20deg);
            transform: translateY(-12px) translateX(-2px) skew(-20deg);
  }
  .burger:before {
    -webkit-transform: translateY(-16px) skew(-10deg);
            transform: translateY(-16px) skew(-10deg);
  }
  /* Toggle State part */
  .is-open .burger {
    -webkit-transform: skew(5deg) translateY(-8px) rotate(-45deg);
            transform: skew(5deg) translateY(-8px) rotate(-45deg);
  }
  .is-open .burger:before {
    -webkit-transform: translateY(0px) skew(-10deg) rotate(75deg);
            transform: translateY(0px) skew(-10deg) rotate(75deg);
  }
  .is-open .burger:after {
    -webkit-transform: translateY(-12px) translateX(10px) skew(-20deg);
            transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
  }
  /* MENU Text part */
  .burger-text {
    display: block;
    font-size: 0.675rem;
    letter-spacing: 0.05em;
    margin-top: 0.5em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #f4bb8a;
  }
  .intro-text {
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
  }
  .intro-button {
    padding-top: 5rem;
  }
  .intro-button a {
    padding: 1.2rem 4rem;
    font-size: 1.8rem;
  }
  .intro-image {
    text-align: center;
  }
  .intro img {
    margin-top: 3rem;
    width: 95%;
    border: 12px solid #0f0d35;
  }
}

@media only screen and (max-width: 320px) {
  .intro-text {
    font-size: 2rem;
  }
  .main-nav a {
    font-size: 2rem;
  }
  h2 {
    font-size: 450%;
  }
  h3 {
    font-size: 250%;
  }
}

.values {
  min-height: 100%;
}

.card-container {
  padding-top: 20rem;
  padding-bottom: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background: #f6f7f3;
  -webkit-box-shadow: 0 5px 8px 0 rgba(120, 119, 119, 0.418);
          box-shadow: 0 5px 8px 0 rgba(120, 119, 119, 0.418);
  width: 25%;
  height: 60%;
  border-radius: 15px;
}

.card-image {
  text-align: center;
  padding: 5rem;
}

.card-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 400%;
  color: #0f0d35;
}

.card-text {
  text-align: center;
  padding: 6rem;
  font-size: 180%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #0f0d35;
}

#BigStar {
  animation: BigStar 3s linear infinite;
  -webkit-animation: BigStar 3s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes BigStar {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes BigStar {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

#LittleStars {
  animation: LittleStars 3s linear infinite;
  -webkit-animation: LittleStars 3s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes LittleStars {
  from {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  to {
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
  }
}

@keyframes LittleStars {
  from {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  to {
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
  }
}

#note1 {
  animation: musicNotes 2.5s linear infinite;
  -webkit-animation: musicNotes 2.5s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#note6 {
  animation: musicNotes 3s linear infinite;
  -webkit-animation: musicNotes 3s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#note3 {
  animation: musicNotes 4s linear infinite;
  -webkit-animation: musicNotes 4s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#note2 {
  animation: musicNotes 4.5s linear infinite;
  -webkit-animation: musicNotes 4.5s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#note5 {
  animation: musicNotes 3.5s linear infinite;
  -webkit-animation: musicNotes 3.5s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#note4 {
  animation: musicNotes 2s linear infinite;
  -webkit-animation: musicNotes 2s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes musicNotes {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
  }
  20% {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
  }
  30% {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }
  40% {
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
  }
  50% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@keyframes musicNotes {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
  }
  20% {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
  }
  30% {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }
  40% {
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
  }
  50% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .card-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .card {
    width: 40%;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 420px) {
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5rem;
  }
  .card {
    width: 90%;
    margin-top: 3rem;
  }
  .values h2 {
    padding-top: 6rem;
    font-weight: 700;
    font-size: 600%;
  }
}

.history {
  background-color: #f6f7f3;
  min-height: 100%;
}

.history-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: center;
}

.history-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  text-align: center;
}

.history-img img {
  width: 80%;
  border: 20px solid #0f0d35;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.history-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  text-align: center;
}

.history-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 200%;
  color: #0f0d35;
  font-weight: 500;
  padding: 10rem;
  line-height: 2em;
}

/* Media Queries */
@media only screen and (max-width: 1366px) and (orientation: landscape) {
  .history-img {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .history-img {
    display: none;
  }
  .history-text p {
    padding: 8rem;
  }
}

@media only screen and (max-width: 926px) and (orientation: landscape) {
  .history-text {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 420px) {
  .history-img {
    display: none;
  }
  h2 {
    font-size: 600%;
  }
  .history-text p {
    padding: 6rem 3rem;
    font-size: 150%;
  }
}

.join-us {
  text-align: center;
}

.join-us p {
  line-height: 2em;
  font-size: 200%;
  font-weight: 425;
}

.address {
  text-align: center;
}

.address p {
  line-height: 2em;
  font-size: 200%;
  font-weight: 425;
}

.upcoming-events {
  text-align: center;
  margin-bottom: 5rem;
}

.upcoming-events li {
  line-height: 2em;
  font-size: 200%;
  font-weight: 425;
}

/* Media Queries */
@media only screen and (max-width: 926px) and (orientation: landscape) {
  h3 {
    font-size: 2rem;
  }
  .join-us p {
    font-size: 1.5rem;
  }
  .address p {
    font-size: 1.5rem;
  }
  .upcoming-events li {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 420px) {
  h2 {
    font-size: 550%;
  }
  h3 {
    font-size: 275%;
  }
  .join-us p {
    font-size: 175%;
  }
  .address p {
    font-size: 175%;
  }
  .upcoming-events li {
    text-align: left;
    padding-left: 1.5rem;
    font-size: 160%;
  }
}

.contact {
  background-color: #f6f7f3;
}

.contact-info {
  text-align: center;
}

.contact-info p {
  font-size: 300%;
  font-weight: 800;
  padding-bottom: 10rem;
}

@media only screen and (max-width: 420px) {
  .contact-info p {
    font-weight: 700;
  }
}

footer {
  background-color: #393b63;
}

footer ul {
  padding-top: 5rem;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  font-size: 2.2rem;
  font-weight: 550;
}

footer p {
  text-align: center;
  padding-bottom: 5rem;
  color: #f6f7f3;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (hover: hover) and (pointer: fine) {
  footer a:hover {
    color: #a09e9e;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  footer ul {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 420px) {
  footer ul {
    font-size: 1.4rem;
  }
  footer p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */